<h1>Listing items</h1>
<%= link_to 'New item', new_item_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.text %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy',
                                item_path(item),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
      
    </tr>
  <% end %>
</table>