<h1>New Meal Item</h1>
<%= form_for :item, url: items_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    
    <%= f.date_select :date,
    {:start_year => 2019, 
    required: true,
    :end_year => 2020,
    :use_month_numbers => false,
    :order => [:month, :day, :year],
    :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }},
    
    
    {:class => "date_select"}
    %>
  </p>
  
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>