<h1>New Meal Item</h1>
<%= form_for :item, url: items_path do |f| %>
  <p>
    <%= f.label :Date %><br>
    <%= f.date_select :Date, :start_year => 2019, :use_month_numbers => false, :include_blank => true, :order => [:month, :day, :year] %>
  </p>
  
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>