<!DOCTYPE html>
<html>
  <head>
    <title>MealTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if current_user %>
        <span class="googlesign">Signed in as <strong><%= current_user.name %></strong></span>!
        <%= link_to "Sign out", signout_path, id: "sign_out", class: "create_new_item2"%>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "create_new_item2" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
